/* 공통 항목 */
::-webkit-scrollbar {width: 8px; height: 8px; border: 3px solid #fff; }
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background: #fff}
::-webkit-scrollbar-track {background: #fff; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: #fff; -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans DemiLight", "Malgun Gothic";
    -webkit-font-smoothing: antialiased;
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
ul {
	list-style: none;
}


/* 드래그(에디터에서) 및 노트 섬네일리스트 항목 */
div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
	height: 180px;
}
div.gallery:hover {
	border: 1px solid #777;
}
div.gallery img {
	width: 178px;
	height: 138px;
}
div.desc {
	padding: 10px 20px 10px 20px;
	text-align: center;
	width: 178px !important;
	height: 50px !important;
}
div.desc p {
	width: 138px;
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.page-content-wrapper{
	padding: 0px;
}


/* 에디터 */
div.editorView {
	z-index: 2;
}
div.sideDragBar {
	overflow: auto;
	background-color: white;
	width: 976px;
	height: 250px;
	z-index: 102;
}
div.sideDragBar_title {
	padding: 8px 25px;
	text-align: center;
	font-size: 18px
}
div.editor {
	position: relative;
	z-index: 2;
	width: 976px;
}
.noteTitle{
	width: 975px;
}
.cate_open_btn{
	color: #ccc;
}
.cate_btn_add{
	display: none;
}
.cate_btns{
	color: #ccc;
	display: none;
}
.editor_btns{
	width: 60px;
}
.editor_btns_hide{
	display: none;
}
.editor_space{
	margin-bottom: 15px;
}


/* 드래그 및 노트 모달 */
#searchResult img {
	max-width: 100%;
}
#content img {
	max-width: 100%;
}
#content_drag img {
	max-width: 100%;
}
#title div {
	color: grey;
	font-weight: bold;
	margin-bottom: 20px;
}
a.btn_modal {
	color: white;
}


/* 회원정보수정,로그인,가입,탈퇴 모달 */
.profile_img{
	width: 120px;
	height: 160px;
}
.memberModify, .memberLogin, .memberOut{
	width:400px;
	margin: 0 auto;
}
.modifyTitle, .loginTitle, .outTitle, .btns_align{
	text-align: center;
}
.googleLogin{
	width: 368px;
	text-align: center;
}
.memberModify_btns, .memberOut_btns{
	width: 368px;
	margin: 0 auto;
}
.Modify_ok, .login_ok, .join_ok, .out_ok{
	width: 368px;
	background: #B2CCFF;
}
.Modify_no, .login_no, .join_no, .out_no{
	width: 368px;
	background: #FFFFFF;
}
.joinModal{
	display: none;
}
.login_btns, .join_btns{
	margin: 0 auto;
}
.btn_etc{
	width: 368px;
}


/* 노트 및 드래그 내용보기 모달 */
.mail_modal_title{
	color: #555555;
}
.modal_input{
	box-shadow: 1px 2px 5px #bbb;
}
.modal_detail_title{
	text-align: center;
}
.modal_detail_date{
	text-align: right;
}
.modal_detail_content{
	text-align: left;
}
.modal_detail_footer{
	text-align: right;
}


/* 드래그, 노트, 친구 리스트 */
body {
	background: #fff;
	color: #333;
}
body, th, td, input, select, textarea, button {
	font-size: 14px;
	line-height: 1.5;
}
div.	{
	z-index: 7;
}
.tit_brunch {
	margin-top: 0;
	font-size: 40px;
	font-weight: 400;
	color: #1a1a1a;
	text-align: left;
}
.desc_brunch {
	width: 960px;
	/*     margin: 0 auto; */
	padding-bottom: 16px;
	margin-top: -3px;
	font-size: 32px;
	line-height: 46px;
	color: #cacaca;
}
.desc_brunch, .tit_brunch {
	font-family: "Nanum Myeongjo", sans-serif;
	letter-spacing: -.05em;
}
.txt_brunch {
	color: #dee4ec;
}
.nav-tabs>li.active>a:hover {
	background-color: #F1F1F1;
	color: #555;
	cursor: default;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}
.gallery figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.gallery figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
figure {
	width: 178px;
	height: 138px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
blockquote {
	border-left: none
}
.quote-badge {
	background-color: rgba(0, 0, 0, 0.2);
}
.quote-box {
	overflow: hidden;
	margin-top: -50px;
	padding-top: -100px;
	border-radius: 17px;
	background-color: #4ADFCC;
	margin-top: 25px;
	color: white;
	width: 90%;
	box-shadow: 2px 2px 2px 2px #E0E0E0;
}
.quotation-mark {
	margin-top: -10px;
	font-weight: bold;
	font-size: 80px;
	color: white;
	font-family: "Times New Roman", Georgia, Serif;
}
.quotation-mark1 {
	margin-top: -10px;
	font-weight: bold;
	font-size: 60px;
	color: gray;
	font-family: "Times New Roman", Georgia, Serif;
}
.quote-text {
	font-size: 19px;
	margin-top: -65px;
}
.quote-text * {
	font-size: 15px;
}
.quote-text-content {
	overflow:auto;
	max-height:170px;
	font-size:15px;
}
.quote-text img {
	width: 90%;
}


/* 노트 및 친구 카테고리 항목 */
.category_list {
	min-width:20px;
}
.category_list_2{
	min-width:20px;
	display:none;
}


/* 노트 및 드래그, 친구 리스트 항목 */
hr {
	padding-bottom: 5px;
}
div.cardList {
	overflow: auto;
	height: 600px;
}
div.noteCardList, div.friendCardList {
	position: relative;
	width: 100%;
	height: 500px;
}
div.dragList {
	margin: 5px;
	border: 2px solid #ccc;
	float: left;
	width: 290px;
	height: 312px;
	border-radius: 5px;
	background-color: #FFFFFB;
	box-shadow: 2px 2px 2px 2px #E0E0E0;
}
div.dragList:hover {
	border: 2px solid #777;
}
div.dragList img {
	width: 178px;
	height: 138px;
}
.dragTitle {
	height: 50px;
	font-size: 19px;
	margin: 5px;
	overflow: auto;
}
.dragTitle * {
	font-size: 15px;
}
.dragTitle img {
	width: 90%;
}
.drag_URL {
	font-style:italic;
	font-size:12px;
}
.dragContent {
	margin: 5px;
	margin-top: -20px;
	height: 200px;
	overflow: auto;
}
.dragFooter {
	margin: 5px;
}


/* 검색기능 */
.search_window {
	display: block
}
.search-form .form-group {
	float: right !important;
	transition: all 0.35s, border-radius 0s;
	width: 32px;
	height: 32px;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-radius: 25px;
	border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
	padding-right: 20px;
	border: 0 none;
	background: transparent;
	box-shadow: none;
	display: block;
}
.search-form .form-group input.form-control: : -webkit-input-placeholder {
	display: none;
}
.search-form .form-group input.form-control: -moz-placeholder {
	/* Firefox 18- */
	display: none;
}
.search-form .form-group input.form-control: : -moz-placeholder {
	/* Firefox 19+ */
	display: none;
}
.search-form .form-group input.form-control: -ms-input-placeholder {
	display: none;
}
.search-form .form-group:hover, .search-form .form-group.hover {
	width: 100%;
	border-radius: 4px 25px 25px 4px;
}
.search-form .form-group div.form-control-feedback {
	position: absolute;
	top: -1px;
	right: -2px;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #3596e0;
	left: initial;
	font-size: 14px;
}
.searchInput{
	float: left;
	position: relative;
	width: 33.33333333%;
	min-height: 1px;
	padding-right: 8px;
}


/* 삭제존 */
.deleteZone {
	margin-top: 30px;
	float: right;
	width: 80px;
	height: 85px;
	background-image: url("/memory/resources/img/deletezone.png");
	background-size: 80px;
}


/* 일반 버튼 */
.btn-default {
	width: auto;
	box-shadow: 1px 2px 5px #aaa;
}
.noteSearch_btn {
	width: auto;
	padding: 4px;
	display: inline-block;
	margin-bottom: 0;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
}
.noteWrite_btn {
	width: 90px;
}
.btn_space {
	padding-right: 2px;
}