<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.test.memory.vo.MemberVO" alias="MemberVO" />
		<typeAlias type="com.test.memory.vo.DragVO" alias="DragVO" />
		<typeAlias type="com.test.memory.vo.DragImgVO" alias="DragImgVO" />
		<typeAlias type="com.test.memory.vo.NoteVO" alias="NoteVO" />
		<typeAlias type="com.test.memory.vo.NoteImgVO" alias="NoteImgVO" />
		<typeAlias type="com.test.memory.vo.CategoryVO" alias="CategoryVO" />
		<typeAlias type="com.test.memory.vo.FriendVO" alias="FriendVO" />
		<typeAlias type="com.test.memory.vo.MemoVO" alias="MemoVO" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/memberMapper.xml" />
		<mapper resource="mapper/dragMapper.xml" />
		<mapper resource="mapper/noteMapper.xml" />
		<mapper resource="mapper/memoMapper.xml" />
	</mappers>
</configuration>